---
import GithubIcon from "../components/icons/GithubIcon.astro";
import LinkedinIcon from "../components/icons/LinkedinIcon.astro";
---
<footer class="relative w-full h-full flex flex-row justify-center items-center py-10 px-20 mt-auto">
    <p class="mx-auto text-lg">Made with ❤️ by <span class="text-blue-500 font-bold">Agomzlodev</span></p>
    <span class="flex flex-row justify-end items-center gap-2">
        <a class="text-black/75 hover:scale-110 hover:text-blue-500 dark:text-white dark:hover:text-blue-500" href="https://linkedin.com/in/agomzlo"><LinkedinIcon class="w-10 h-10" /></a>
        <a class="text-black/75 hover:scale-110 hover:text-blue-500 dark:text-white dark:hover:text-blue-500" href="https://github.com/agomzlo"><GithubIcon class="w-10 h-10" /></a>
    </span>
</footer>