---
import ToogleTheme from "../components/ToogleTheme.astro";
---
<header class="sticky top-0 w-full flex flex-row justify-center items-center py-4 px-2 md:px-20 bg-white/75 z-[1] backdrop-blur-md dark:bg-gray-800/75">
    <span class="w-fit flex flex-col justify-center mx-auto">
        <h1 class="font-semibold text-xl md:text-4xl text-blue-500">Tailwind CSS Animations</h1>
        <p class="hidden md:block w-full font-medium opacity-50 text-right">+200 animations</p>
    </span>
    <ToogleTheme />
</header>