---
import Layout from '../layouts/Layout.astro';
import theme from '../../../src/theme.js';
import Header from '../components/Header.astro';
import Card from '../components/Card.astro';

const { animation } = theme;
---

<Layout title="Tailwind CSS Animations Plugin">
	<wc-toast></wc-toast>
	<main class="pb-20">
		<Header/>

		<section class="max-w-5xl m-auto grid grid-cols-2 gap-4">
			{
				Object.keys(animation).map(animationKey => {
					return (
						<Card animationKey={animationKey}/>
					)
				})
			}
		</section>
	</main>
</Layout>
